{% extends 'base.html' %}
{% block content %}

<div class="container mt-6">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">

      <div class="card shadow-lg">
        <div class="card-header bg-gradient-primary text-white text-center">
          <h5>Create Employee</h5>
        </div>

        <div class="card-body">
          <form method="POST">
            {% csrf_token %}

            <div class="input-group input-group-outline mb-3">
              <label class="form-label">Username</label>
              {{ form.username }}
            </div>

            <div class="input-group input-group-outline mb-3">
              <label class="form-label">Password</label>
              {{ form.password }}
            </div>

            <button type="submit" class="btn bg-gradient-primary w-100">
              Create
            </button>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
